<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>117224140337-maki9qv9vri3h872i5est3obtm3jkn32.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117224140337-maki9qv9vri3h872i5est3obtm3jkn32</string>
	<key>API_KEY</key>
	<string>AIzaSyBM_egbYGiryzVRKmyBy1CAa4hHnaAjVQo</string>
	<key>GCM_SENDER_ID</key>
	<string>117224140337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ashishpisey.dojochat</string>
	<key>PROJECT_ID</key>
	<string>dojo-chat-cb293</string>
	<key>STORAGE_BUCKET</key>
	<string>dojo-chat-cb293.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117224140337:ios:73e4ccc2ca631a44eaef10</string>
	<key>DATABASE_URL</key>
	<string>https://dojo-chat-cb293-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>